			<!-- ORDER-AREA START -->
			<div class="shopping-cart-area  pt-80 pb-80">
				<div class="container">	
					<div class="row">
						<div class="col-md-12 col-sm-12 col-xs-12">
							<div class="shopping-cart">
								<!-- Nav tabs -->
								<ul class="cart-page-menu row clearfix mb-30">
									<li><%= link_to "Panier", cart_path %></li>
                  <li><%= link_to "Coordonnées", address_path %></li>
                  <li><%= link_to "Confirmation", recap_path %></li>
									<li class="active"><%= link_to "Merci !", complete_path %></li>
								</ul>

								<!-- Tab panes -->
								<div class="tab-content">
									<!-- order-complete start -->
									<div class="tab-pane active" id="order-complete">
										<form action="#">
											<div class="thank-recieve bg-white mb-30">
												<p>Merci ! Nous avons bien reçu votre paiement. Vous recevrez votre commande par mail prochainement.</p>
											</div>
											<div class="order-info bg-white text-center clearfix mb-30">
												<div class="single-order-info">
													<h4 class="title-1 text-uppercase text-light-black mb-0">Commande n°</h4>
													<p class="text-uppercase text-light-black mb-0"><strong>m 2653257</strong></p>
												</div>
												<div class="single-order-info">
													<h4 class="title-1 text-uppercase text-light-black mb-0">Date</h4>
													<p class="text-uppercase text-light-black mb-0"><strong>june 15, 2016</strong></p>
												</div>
												<div class="single-order-info">
													<h4 class="title-1 text-uppercase text-light-black mb-0">Total</h4>
													<p class="text-uppercase text-light-black mb-0"><strong>$ 170.00</strong></p>
												</div>

											</div>
											<div class="shop-cart-table check-out-wrap">
												<div class="row">
													<div class="col-md-6 col-sm-6 col-sm-12">
														<div class="our-order payment-details pr-20">
															<h4 class="title-1 title-border text-uppercase mb-30">our order</h4>
															<table>
																<thead>
																	<tr>
																		<th><strong>Product</strong></th>
																		<th class="text-right"><strong>Total</strong></th>
																	</tr>
																</thead>
																<tbody>
																	<tr>
																		<td>Dummy Product Name  x 2</td>
																		<td class="text-right">$86.00</td>
																	</tr>
																	<tr>
																		<td>Dummy Product Name  x 1</td>
																		<td class="text-right">$69.00</td>
																	</tr>
																	<tr>
																		<td>Cart Subtotal</td>
																		<td class="text-right">$155.00</td>
																	</tr>
																	<tr>
																		<td>Shipping and Handing</td>
																		<td class="text-right">$15.00</td>
																	</tr>
																	<tr>
																		<td>Vat</td>
																		<td class="text-right">$00.00</td>
																	</tr>
																	<tr>
																		<td>Order Total</td>
																		<td class="text-right">$170.00</td>
																	</tr>
																</tbody>
															</table>
														</div>
													</div>
													<!-- history -->
													<div class="col-md-6 col-sm-6 col-xs-12">
														<div class="payment-method  pl-20">
															<h4 class="title-1 title-border text-uppercase mb-30">historique des commandes</h4>
															<div class="payment-accordion">
																<!-- Accordion start  -->
																<h3 class="payment-accordion-toggle active">Commande n°123 - 28/08/18 - 10€</h3>
																<div class="our-order payment-details payment-content default mb-30">
																<table>
																<tbody>
																	<tr>
																		<td>Dummy Product Name  x 2</td>
																		<td class="text-right">$86.00</td>
																	</tr>
																	<tr>
																		<td>Dummy Product Name  x 1</td>
																		<td class="text-right">$69.00</td>
																	</tr>
																	<tr>
																		<td>Order Total</td>
																		<td class="text-right">$170.00</td>
																	</tr>
																</tbody>
															</table>
																</div> 
																<!-- Accordion end -->
																<!-- Accordion start -->
																<h3 class="payment-accordion-toggle">Commande n°12 - 8/08/18 - 1€</h3>
																<div class="our-order payment-details payment-content mb-30">
																<table>
																<tbody>
																	<tr>
																		<td>Dummy Product Name  x 2</td>
																		<td class="text-right">$86.00</td>
																	</tr>
																	<tr>
																		<td>Dummy Product Name  x 1</td>
																		<td class="text-right">$69.00</td>
																	</tr>
																	<tr>
																		<td>Order Total</td>
																		<td class="text-right">$170.00</td>
																	</tr>
																</tbody>
															</table>
																</div> 
																<!-- Accordion end -->
																<!-- Accordion start -->
																<h3 class="payment-accordion-toggle">Commande n°3 - 24/06/18 - 105€</h3>
																<div class="our-order payment-details payment-content mb-30">
																<table>
																<tbody>
																	<tr>
																		<td>Dummy Product Name  x 2</td>
																		<td class="text-right">$86.00</td>
																	</tr>
																	<tr>
																		<td>Dummy Product Name  x 1</td>
																		<td class="text-right">$69.00</td>
																	</tr>
																	<tr>
																		<td>Order Total</td>
																		<td class="text-right">$170.00</td>
																	</tr>
																</tbody>
															</table>
																</div> 
																<!-- Accordion end --> 
															</div>															
														</div>
													</div>
												</div>
											</div>
										</form>										
									</div>
									<!-- order-complete end -->
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
			<!-- ORDER-AREA END -->