
			<!-- 404-AREA START -->
			<div class="area-404  pt-80 pb-80">
				<div class="container">	
					<div class="row">
						<div class="col-lg-12">
							<div class="error-content text-center">
								<img src="img/bg/error.png" alt="" />
								<h4 class="text-light-black mt-60">Oups.... C'est une erreur 404 !</h4>
								<h5 class="text-light-black">Désolé, mais la page à laquelle vous souhaitez accéder n'existe pas.</h5>
								<a class="button-one submit-btn-4 go-to-home bg-white text-uppercase text-light-black" href="<%= root_path %>" data-text="retourner à l'accueil" >Retourner à l'accueil</a>
							</div>
						</div>
					</div>
				</div>
			</div>
			<!-- 404-AREA END -->	