  <footer>
    <!-- Footer-area start -->
    <div class="footer-area footer-3">
      <div class="container">
        <div class="row">
          <div class="col-lg-4 col-md-4 col-sm-5 col-xs-12">
            <div class="single-footer">
              <h3 class="footer-title  title-border">contact</h3>
              <ul class="footer-contact">
                <li><span>Adresse :</span>28 Rue du Doyenné, 69005 Lyon</li>
                <li><span>E-mail :</span>thp-lyon@gmail.com</li>
              </ul>
            </div>
          </div>
          <div class="col-lg-2 col-md-2 col-sm-3 col-xs-12">
            <div class="single-footer">
              <h3 class="footer-title  title-border">Compte</h3>
              <ul class="footer-menu">
                <li><a href="my-account.html"><i class="zmdi zmdi-dot-circle"></i>Mon compte</a></li>
                <li><a href="cart.html"><i class="zmdi zmdi-dot-circle"></i>Mon panier</a></li>
                <li><a href="login.html"><i class="zmdi zmdi-dot-circle"></i>Me connecter</a></li>
              </ul>
            </div>
          </div>
          <div class="col-lg-2 col-md-2 hidden-sm col-xs-12">
            <div class="single-footer">
              <h3 class="footer-title  title-border">Produits</h3>
              <ul class="footer-menu">
                <li><a href="#"><i class="zmdi zmdi-dot-circle"></i>Chats adultes</a></li>
                <li><a href="#"><i class="zmdi zmdi-dot-circle"></i>Chatons</a></li>
                <li><a href="#"><i class="zmdi zmdi-dot-circle"></i>Groupes de chats</a></li>
              </ul>
            </div>
          </div>
          <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
            <div class="single-footer">
              <h3 class="footer-title  title-border">Newsletter</h3>
              <div class="footer-subscribe">
                <form action="#">
                  <input type="text" name="email" placeholder="Entrez votre adresse e-mail" />
                  <button class="button-one submit-btn-4" type="submit" data-text="M'inscrire">M'inscrire</button>
                </form>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- Footer-area end -->
    <!-- Copyright-area start -->
    <div class="copyright-area copyright-2">
      <div class="container">
        <div class="row">
          <div class="col-sm-6 col-xs-12">
            <div class="copyright">
              <p class="mb-0">&copy; <a href="#" target="_blank">THP Lyon </a> 2018. All Rights Reserved.</p>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- Copyright-area end -->
  </footer>